<!DOCTYPE html>
<html>
<title>Sports Management Portal</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3-theme-indigo.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<body>

<!-- Header -->
<header class="w3-container w3-theme w3-padding" id="myHeader">
  <div class="w3-center">
  <h1 class="w3-xxxlarge w3-animate-bottom">Welcome Admin</h1>
  </div>
</header>


<div class="w3-row-padding w3-center w3-margin-top">
  <div class="w3-third">
    <div class="w3-card-8 w3-padding-top" style="min-height:400px">
      <div class="w3-center">
        <a href="/events/new">
        <div id="file-img">
          
        </div>
      </a>
    </div>
    <h4>Create New Event</h4><br>
    </div>
  </div>

  <div class="w3-third">
    <div class="w3-card-8 w3-padding-top" style="min-height:400px">
      <a href="/viewallevents">
        <div id="p-img">
          
        </div>
      </a>
      <h4>View all event</h4><br>
    </div>
  </div>

    <div class="w3-third">
    <div class="w3-card-8 w3-padding-top" style="min-height:400px">
      <a href="/viewfeedback">
        <div id="own-img">
          
        </div>
      </a>
      <h4>View Feedback</h4><br>
    </div>
  </div>  
</div>

<div class="w3-row-padding w3-center w3-margin-top">
  <div class="w3-third">
    <div class="w3-card-8 w3-padding-top" style="min-height:400px">
      <div class="w3-center">
        <a href="/viewqueries">
        <div id="license-img">
        
        </div>
      </a>
    </div>
    <h4>View Queries</h4><br>
    </div>
  </div>

  <div class="w3-third">
    <div class="w3-card-8 w3-padding-top" style="min-height:400px">
      <a href="/eventschedules/new">
        <div id="own-img">
          
        </div>
      </a>
      <h4>Add Schedules</h4><br>
    </div>
  </div>  

   <div class="w3-third">
    <div class="w3-card-8 w3-padding-top" style="min-height:400px">
      <a href="/vieweventschedule">
        <div id="own-img">
          
        </div>
      </a>
      <h4>View Schedules</h4><br>
    </div>
  </div> 

  <div class="w3-third">
    <div class="w3-card-8 w3-padding-top" style="min-height:400px">
      <a href="/noticeBoard">
        <div id="own-img">
          
        </div>
      </a>
      <h4>Notice Board</h4><br>
    </div>
  </div>  

</div>

</div>
</body>
</html>

